@media (max-width: 1025px) {
	.link-container-bottom {
		top: 51.5% !important;
		ul {
			grid-template-columns: 1.5fr !important;
		}
	}

	.continue {
		top: 34% !important;
	}
	.to_top {
		grid-template-columns: 0.2fr 2fr;

		.contact {
			grid-template-columns: 0.8fr 1fr 0.8fr;
		}
	}
}
@media (max-width: 1250px) {
	.head-about {
		grid-template-columns: 0.5fr 2fr 0.5fr !important;
		grid-template-rows: 1fr 1fr;
		grid-gap: 5vh;
		.logo-squared-about {
			justify-self: center !important;
			grid-column: 2/3 !important;
		}
		.content-about {
			justify-self: center !important;

			grid-column: 2/3 !important;
			grid-row: 2/3;
			width: 100% !important;
			text-align: center !important;
			height: 90% !important;
			align-self: center;
			justify-content: center !important;
			&::before {
				height: 2% !important;
				width: 100% !important;
				top: 0% !important;
				left: 0% !important;
			}
		}
	}
}

@media (max-width: 970px) {
	.continue {
		top: 20% !important;
		left: 8% !important;
	}

	.navLinks {
		display: flex !important;
		width: 40vw;
		right: 0;
		flex-direction: column !important;
		justify-content: space-around;
		align-items: center;
		position: absolute;
		top: 0;
		z-index: 6;
		height: 94vh;
		background-color: rgba($color: $mainColor, $alpha: 0.8);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		transform: translateX(100%);
		li {
			opacity: 0;
			.dropdown {
				top: -410% !important;
				right: calc(22vw + 50px) !important;
				background-color: rgba(
					$color: $mainColor,
					$alpha: 0.8
				) !important;
				&:hover {
					background-color: rgba(
						$color: $mainColor,
						$alpha: 0.9
					) !important;
				}
				li {
					opacity: 1;
				}
			}
			button::after {
				background-color: aliceblue !important;
			}
		}
	}
	.hamburger {
		z-index: 7;
		display: block !important;
		position: absolute;
		right: 4vw;
		top: 2%;

		cursor: pointer;
	}
	//about
}

@media (max-width: 930px) {
	.show-newsletter-btn {
		margin-left: 53% !important;
	}
	.link-container-bottom {
		top: 54% !important;
	}
	.continue {
		top: 34% !important;
	}
	.content-about {
		width: 80% !important;
	}
}

.nav-active {
	transform: translateX(0%);
}
@media (max-height: 600px) {
	.link-container-bottom {
		top: 66.5% !important;
		ul {
			grid-template-columns: 1fr 1fr 1fr !important;
		}
	}
	.contact {
		padding: 2px;
	}
}
@media (max-width: 760px) {
	.to_top {
		height: auto !important;
		grid-template-columns: 1.5fr 1fr !important;
		.contact {
			grid-template-columns: 1fr !important;
		}
	}
	.content-about {
		width: 94% !important;
	}
	.h3-logo {
		position: absolute !important;
		left: 4% !important;
	}
	.hamburger {
		top: 1% !important;
	}
}
@media (max-width: 440px) {
	

	
	.link-container-bottom {
		ul {
			margin-top: 0px;
			display: flex !important;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			// grid-gap: 10px !important;
			li {
				width: 100% !important;
				height: 16vh !important;
				background-color: rgba(
					$color: aliceblue,
					$alpha: 0.25
				) !important;
				color: aliceblue;
				&:hover {
					background-color: rgba(
						$color: aliceblue,
						$alpha: 0.15
					) !important;
				}
			}
		}
	}
	.big-background {
		padding-top: 0px !important;
	}

	.navLinks {
		background-color: rgba(
			$color: rgb(104, 104, 103),
			$alpha: 0.65
		) !important;

		color: aliceblue;
	}
	.images-slide {
		top: 0vh;
		img {
			height: 115vw !important;
		}
	}
}
@media (max-width: 510px) {
	.imager-about {
		div {
			width: calc(100vw / 1.5) !important;
		}
	}
}

@media (max-width: 745px) {
	.footer {
		grid-template-columns: 1fr !important;
		grid-template-rows: 1fr 1fr 1fr 1.5fr 0.5fr !important;
		ul {
			margin: 0px !important;
			flex-direction: row !important;
			justify-content: space-around !important;
			align-items: center !important;
		}
		.quick-links {
			grid-row: 1/2;
		}
		.service {
			grid-row: 2/3;
		}
		.social {
			grid-row: 3/4;

			padding-right: 25%;
		}

		.newsletter-box {
			width: 100% !important;

			grid-row: 4/5;
			align-self: center;
			justify-self: center;
			.box {
				width: 100% !important;
			}
		}
	}
}
