<!-- font-awesome -->
{% load static %}
<link
rel="stylesheet"
href="{% static '/fontawesome/css/fontawesome.css' %}"
/>
<link rel="stylesheet" href="{% static '/fontawesome/css/all.css' %}" />
<link
rel="stylesheet"
href="{% static '/fontawesome/css/brands.css' %}"
/>
<link
rel="stylesheet"
href="{% static '/fontawesome/css/duotone.css' %}"
/>
<link
rel="stylesheet"
href="{% static '/fontawesome/css/light.css' %}"
/>
<link
rel="stylesheet"
href="{% static '/fontawesome/css/regular.css' %}"
/>
<link
rel="stylesheet"
href="{% static '/fontawesome/css/solid.css' %}"
/>
<link
rel="stylesheet"
href="{% static '/fontawesome/css/svg-with-js.css' %}"
/>
<link
rel="stylesheet"
href="{% static '/fontawesome/css/v4-shims.css' %}"
/>
<!-- end -->

<!-- fonts -->
<link rel="stylesheet" href="{% static '/fonts/Montserrat.css' %}" />
<link rel="stylesheet" href="{% static '/fonts/Poppins.css' %}" />
<link rel="stylesheet" href="{% static '/fonts/Raleway.css' %}" />
<!-- end -->